## Delete and Insert Function

## Insert

In [9]:
import pandas as pd 
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [10]:
var.insert(1,"python",var["A"])
var

   A  python  B
0  1       1  9
1  2       2  8
2  3       3  7
3  4       4  6
4  5       5  5

## Delete

In [11]:
var.pop("B")
var

   A  python
0  1       1
1  2       2
2  3       3
3  4       4
4  5       5

In [12]:
del var["A"]
var

   python
0       1
1       2
2       3
3       4
4       5